/*-------------------WAYBAR CONFIG di manuel v1.0-----------------------*/


@import "frappe.css";

* {
  border: none;
  border-radius: 10px;
  min-height: 0;
  /*font-family: Material Design Icons, JetBrainsMono Nerd Font;*/
  font-family: Roboto, Weather Icons;
  font-size: 15px;
}

window#waybar {
  background-color: @transparent1;
  transition-property: background-color;
  transition-duration: 0.5s;
  opacity: 1.0;
  color: @teal;
  margin: 3px 1px;
  padding: 3px 8px;
}

window#waybar.hidden {
  opacity: 0.5;
/*  margin: 3px 1px;*/
/*  padding: 3px 8px;*/
}

#workspaces {
  background-color: transparent;
/*  margin: 3px 1px;*/
/*  padding: 3px 8px;*/
}

#workspaces button {
  all: initial; /* Remove GTK theme values (waybar #1351) */
  min-width: 0; /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -5px transparent; /* Use box-shadow instead of border so the text isn't offset */
  padding: 3px 8px;
  margin: 3px 2px;
  border-radius: 3px;
  background-color: @transparent2;
  color: @subtext0;
}

#workspaces button.active {
  color: @text;
  background-color: @transparent1;
}

#workspaces button:hover {
 box-shadow: inherit;
 text-shadow: inherit;
 color: #1e1e2e;
 background-color: #cdd6f4;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#memory,
#temperature,
#hyprland-window,
#cpu,
#custom-power,
#battery,
#backlight,
#pulseaudio,
#network,
#clock,
#bluetooth,
#hyprland-window,
#custom-updates,
#custom-logo,
#custom-notifications,
#backlight,
#custom-weather,
#tray {
  border-radius: 4px;
  margin: 3px 1px;
  padding: 3px 8px;
  background-color: @crust;
  color: @text;
  opacity: unset;
}

#custom-updates {
  background-color: @crust;
  color: @text;
}

#bluetooth {
  background-color: @crust;
  color: @text;
  font-size: 18;
}

#backlight {
  background-color: @mantle;
}

#custom-power {
  margin-right: 6px;
}

#cpu {
  background-color: @crust;
  color: @text;
}

#custom-logo {
/*  padding-right: 7px;*/
/*  padding-left: 7px;*/
/*  margin-left: 5px;*/
    font-size: 18px;
/*  border-radius: 8px 0px 0px 8px;*/
  color: @text;
}

#memory {
  background-color: @crust;
  color: @text;
}
#temperature{
  background-color: @crust;
  color: @text;
}
#battery {
  background-color: @crust;
  color: @text;
}
@keyframes blink {
  to {
    background-color: #f38ba8;
    color: #181825;
  }
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #ff0048;
  color: #181825;
  animation-name: blink;
  animation-duration: 1.0s;
  animation-timing-function: linear;
  animation-iteration-count: 10;
  animation-direction: alternate;
}
#battery.charging {
  background-color: @green;
  color: @crust;
}

#backlight {
  background-color: @crust;
  color: @text;
  font-size: 18;
}

#pulseaudio {
  background-color: @crust;
  color: @text;
  font-size: 20;
}

#network {
  background-color: @crust;
  color: @text;
  padding-right: 10px;
  font-size: 18px;
}

#clock {
  font-family: Roboto;
  background-color: @crust;
  color: @text;
}

#custom-power {
  background-color: @crust;
  color: @text;
  font-size: 18px;
}

/*#custom-weather{*/
/*  font: "Weather Icons";*/
/*  font-size: 15px;*/

/*}*/

tooltip {
border-radius: 8px;
padding: 15px;
background-color: @surface1; /*#131822;*/
}

tooltip label {
padding: 5px;
background-color: @surface1; /*#131822;*/
color: @text;
}
